/* 确保页面内容在表格内容多时不影响布局 */
body {
    /* display: flex; */
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* min-width: 600px; */
    max-width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#payment-schedule {
    margin-top: 20px;
    max-height: 600px; /* 限制表格的最大高度 */
    overflow: auto; /* 启用竖向滚动条 */
}

#payment-schedule table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#payment-schedule th, #payment-schedule td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#payment-schedule th {
    background-color: #f1f1f1;
}

#loan-form {
    margin: 10px;
}

#result {
    margin: 20px;
}

#additional-functions {
    margin: 10px;
    margin-top: 20px;
}

/* 确保页面滚动到顶部 */
html, body {
    height: 100%;
    margin: 20px;
}

#schedule-table {
    width: 100%;
    border-collapse: collapse;
}

#schedule-table th, #schedule-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}
